.about-us {
  background-color: white;
  text-align: center;
  padding-top: 143px;
  padding-bottom: 172px;
  color: #3d4f9f;
}

.about-us__background {
  position: absolute;
  transform: translate(-50%, -10%);
}

.about-us__preheadline {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #3d4f9f;
  margin-bottom: 20px;
}

.about-us__headline {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3d4f9f;
}

.about-us__main-content {
  display: flex;
  margin: 92px 25% 92px 25%;
  justify-content: space-between;
  color: #4074f8;
}

.about-us__column {
  width: 140px;
  height: 254px;
}

.item__abous-us__img {
  margin-bottom: 33px;
}

.item__abous-us__title {
  margin-bottom: 25px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #4074f8;
}

.item__abous-us__text {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
  color: #adb3cb;
}

.item__abous-us__solid {
  width: 40px;
  height: 120px;
}

.about-us__buttom {
  display: flex;
  justify-content: space-between;
  margin: 12px 40%;
  font-size: 13px;
}

.about-us__buttom__read-more {
  padding: 13px 15px;
  background-color: #ffd7d7;
  color: #d43f3f;
  font-size: 13px;
}

.about-us__buttom__get-started {
  padding: 13px 15px;
  background-color: #d2e1ff;
  color: #3a79ff;
  font-size: 13px;
}

.about-us__or {
  text-align: center;
  align-self: center;
  font-size: 11px;
  color: #adb3cb;
}

.about-us__buttom__solid {
  height: 20px;
  width: 20px;
}
