.desktop-and-mobile-app__headline .headline_h1 {
  font-size: 10px;
  color: #3d4f9f;
}

.desktop-and-mobile-app__headline .headline_h2 {
  font-size: 48px;
  color: #3d4f9f;
  margin-top: 16px;
  margin-bottom: 28px;
}

.desktop-and-mobile-app__headline .headline_main-text {
  font-size: 15px;
  line-height: 191%;
  color: #8d96bd;
}

.desktop-and-mobile-app {
  display: flex;
}

.desktop-and-mobile-app__headline {
  margin-left: 271px;
  margin-top: 208px;
  margin-bottom: 216px;
}

.desktop-and-mobile-app__headline .headline_main-text{
  padding-bottom: 47px;
}

.desktop-and-mobile-app__headline .headline_buttom .headline_buttom_see {
  color: #adb4d2;
  background-color: #e4e6f0;
  border: 1px solid #8d96bd;
  text-decoration: none;
  padding: 13px 37px 13px 25px;
}

.desktop-and-mobile-app__headline .headline_buttom .headline_buttom_view {
  color: white;
  background-color: blue;
  border: 1px solid blue;
  text-decoration: none;
  padding: 13px 37px 13px 25px;
}

.desktop-and-mobile-app__img {
  margin-top: 170px;
  margin-left: 55px;
}

.desktop-and-mobile-app__img .desktop-and-mobile-app__img_Mobile_small {
  background-color: white;
  width: 107px;
  padding: 11px 0.01px;
  border-radius: 15px;
  box-shadow: 0px 20px 40px rgba(53, 60, 115, 0.15);
  position: absolute;
  transform: translate(53%, -110%);
  z-index: 100;
}

.desktop-and-mobile-app__img .desktop-and-mobile-app__img_Mobile_big {
  background-color: white;
  width: 145px;
  padding: 9px 3.27px 15px 1px;
  border-radius: 15px;
  box-shadow: 0px 20px 40px rgba(53, 60, 115, 0.15);
  position: absolute;
  transform: translate(330%, -63%);
  z-index: 100;
}

.desktop-and-mobile-app__img .desktop-and-mobile-app__img_PC {
  background-color: white;
  margin-left: 135px;
  width: 510px;
  padding: 12.38px 15.69px 7.43px 15.69px;
  border-radius: 15px;
  box-shadow: 0px 20px 40px rgba(53, 60, 115, 0.15);
}
