.ending {
  display: flex;
  justify-content: space-between;
  height: 43px;
  background-color: white;
  padding: 93px 117px;
}

.ending__navigation,
.ending__links {
  display: flex;
  color: #697ca6;
  align-items: center;
}

.ending__navigation :first-of-type {
  margin-right: 72px;
}

.navigation__anchor {
  margin-right: 42px;
  text-decoration: none;
}

.ending__links__logo {
  margin-right: 38px;
}

.ending__links__get-stared {
  padding: 13px 15px 13px 16px;
  color: #3a79ff;
  background-color: #d2e1ff;
  text-decoration: none;
}

.ending__copyright {
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #AEB8D0;
  padding-top: 28px;
  padding-left: 149px;
}
