.heading {
    display: flex;
    justify-content: space-between;
    height: 43px;
    background-color: white;
    padding: 19px 117px;
  }
  
  .heading__navigation,
  .heading__links {
    display: flex;
    color: #697ca6;
    align-items: center;
  }
  
  .heading__navigation :first-of-type {
    margin-right: 72px;
  }
  
  .navigation_anchor {
    margin-right: 42px;
    text-decoration: none;
  }
  
  .links_logo {
    margin-right: 38px;
  }
  
  .links_get-stared {
    padding: 13px 15px 13px 16px;
    color: #3a79ff;
    background-color: #d2e1ff;
    text-decoration: none;
  }