.heading-links {
    display: flex;
  }
  
  .hero-text {
    position: relative;
    text-align: center;
    right: 50%;
    transform: translate(50%, -50%);
    top: 172px;
  }
  
  .hero-img {
    position: relative;
  }
  
  .under {
    position: absolute;
    z-index: 100;
    margin-top: 154px;
    right: 50%;
    transform: translate(50%, -50%);
  }
  
  .over {
    position: absolute;
    z-index: 99;
    margin-top: 104px;
    right: 53%;
    transform: translate(50%, -50%);
  }
  
  .stats {
    position: absolute;
    z-index: 100;
    right: 54%;
    transform: translate(-48.5%, 153%);
  }