.statistics__percent {
  background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
  color: white;
  padding: 70px 94px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.statistics__numbers {
  background: linear-gradient(101.48deg, #e9efff 41.56%, #e0e9ff 81.53%);
  color: #5e80ff;
  padding: 70px 94px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.statistics__percent__img {
  width: 65px;
  height: 65px;
  margin-bottom: 24px;
  /* wtf */
  justify-content: flex-end;
}

.statistics__numbers__img {
  width: 71px;
  height: 62px;
  /* кажется лишним */
  text-align: end;
  margin-bottom: 24px;
}

.statistics__percent__title {
  font-size: 48px;
  text-align: end;
  /* margin вместо height */
  height: 84px;
}

.statistics__percent__text {
  font-size: 18px;
  text-align: end;
}

.statistics__numbers__title {
  font-size: 48px;
  text-align: start;
  height: 84px;
}

.statistics__numbers__text {
  font-size: 18px;
  text-align: start;
}

.statistics {
  display: flex;
  justify-content: center;
}