.statistics h1 {
    font-size: 48px;
  }
  
  .statistics p {
    font-size: 18px;
  }
  
  .statistics {
    display: flex;
    justify-content: center;
  }
  
  .statistics img {
    padding: 66px 90px 0px 0px;
  }
  
  .statistics p {
    width: 260px;
    height: 45px;
  }
  
  .statistics h1 {
    padding: 24px 0px 27px 0px;
  }
  
  .statistics .clock {
    background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
    color: white;
    text-align: right;
    padding-right: 90px;
  }
  
  .statistics .blue-people {
    background: linear-gradient(101.48deg, #e9efff 41.56%, #e0e9ff 81.53%);
    color: #5e80ff;
    text-align: left;
    padding-left: 90px;
  }