body {
  background-color: #e4e6f0;
  font-family: "Roboto", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  max-width: 1440px;
}

#circle {
  width: 26px;
  height: 26px;
  background: #5e81fe;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  padding: 0;
  margin-right: 51px;
}

.bold {
  font-weight: bold;
}

.no-bold {
  font-weight: normal;
}

.solid {
  border-bottom: 1px solid #dae4fe;
}

